$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-pencil: "\e905";
$icon-camera: "\e90f";
$icon-compass: "\e949";
$icon-rocket: "\e9a5";
$icon-arrow-right: "\ea34";
$icon-arrow-right2: "\ea3c";

